#
# Database connection
#
# DB_HOST=database
# DB_DATABASE=db
# DB_USERNAME=user
# DB_PASSWORD=pass


#
# Redis
#
# REDIS_HOST=cache

#
# Elasticsearch
#
# ES_ENDPOINT=http://search:9200

#
# Kool variables - mostly used to tweak docker-compose.yml containers.
#
# KOOL_FRONTEND_PORT=
# KOOL_BACKEND_PORT=
# KOOL_DATABASE_PORT=
# KOOL_GLOBAL_NETWORK=
